<h1 class="text-center">Chessboard WIP</h1>

<br />

<div class="col-xs-6 col-xs-offset-3">
  <table id="chessboard">
    <% 7.downto(0) do |row| %>
      <tr>
        <% 0.upto(7) do |col| %>
          <td>
            <% if piece = @pieces.detect { |piece| piece.row_position == row && piece.col_position == col && piece.alive } %>              

              <div class="piece" id="piece-<%= piece.id %>">
                <%= link_to game_path(@game, piece_id: piece), remote: true do %>
                  <%= render_piece(piece) %>
                <% end %>
              </div>

            <% else %>

              <div class="open-spaces" id="<%= row %>,<%= col %>" data-row="<%= row %>" data-col="<%= col %>">

                <%= @row = row %>
                <%= @col = col %>
                
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>


  <br /><br />
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="selected-piece">
  Selected Piece:
  
</div>

<br />
<br />
<br />


<script>


//on clicking a piece
$(".piece").click(function (event) {

  var piece = event.target;
  var pieceId = $(piece).attr("data-piece");

//set class of piece to selected
  $(".piece").removeClass("selected");
  $(piece).addClass("selected");
  

});


</script>