<!DOCTYPE html>
<html>
<head>
  <title>Chess</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<%-# Devise flash alerts for user successful/unsuccessful signin#-%>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%-# end #-%>

=======
<%-# Devise flash alerts to notify user of successful or unsuccessful sign-in #-%> 	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%-# end #-%>
	
>>>>>>> 5787431e116c2b5e6b51c9766c72ae2a94b95ea8
<%= yield %>

</body>
</html>
